fastapi
uvicorn
pydantic

# LangChain + Groq
langchain
langchain-community
groq
langchain-groq
duckduckgo-search
python-dotenv

ddgs
apscheduler

# ChromaDB + embeddings
chromadb
sentence-transformers
 
